---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <p>En esta página estará el contenido principal del blog</p>
    <ul class="links">
        {
            allPosts.map(({ url, frontmatter }) => (
                <BlogPost url={url} title={frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
<style>
    .links{
        display: flex;
        justify-content: start;
        align-self: center;
        list-style: none;
        flex-wrap: wrap;
        padding: 1rem;
    }
</style>